{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="login-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Login</h4>
            </div>
            <div class="panel-body">
                <form method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ form.submit(class="btn btn-primary") }}
                    <!-- {{ wtf.form_field(form.submit, class="btn btn-primary") }} -->
                </form>
                <!-- {{ wtf.quick_form(form, method = 'POST') }} -->
            </div>
            <div class="panel-footer">
            	<a href="{{ url_for('main.index') }}">Back To Site</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}