{% extends "panel/panel_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super( )}}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="col-lg-12">
        <div class="page-header"><h3>Edit Post</h3></div>
    </div>
	<form method="post" role="form">
		<div class="col-lg-8">
			{{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ form.content.label }}
        {{ form.content(class="form-control", rows="12", style="resize:vertical")|safe }}
		</div>
        <div class="col-lg-4">
    	<!-- {{ wtf.form_field(form.timestamp) }} -->
    	{{ form.timestamp.label }}
    	{{ form.timestamp(class="form-control") }}
        {{ wtf.form_field(form.status) }}
        {{ form.submit(class="btn btn-primary") }}
        {{ form.save(class="btn btn-success") }}
        {{ form.discard(class="btn btn-danger") }}
        </div>
    </form>
</div>
{% endblock %}