{% extends "panel/panel_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block scripts %}
{{ super( )}}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>Post List</h3>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th data-field="id">Title</th>
                            <th data-field="name">Time</th>
                        </tr>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>

        <div class="text-center">
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}