<div class="blog-post">
	<div class="blog-post-title">
		<h3>
		{% if not single_post %}
			<a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a>
		{% else %}
			{{ post.title }}
		{% endif %}
		</h3>
	</div>

	<div class="blog-post-content"><p>{{ post.content_html|safe }}</p></div>

	<div class="blog-post-footer">
		<div class="blog-post-timestamp">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span><span/>
			<span>{{ moment(post.timestamp).format("YYYY-MM-d hh:mm") }}</span>

			<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span/>
			<span>{{ post.author.username|upper }}</span>
		</div>
	</div>
</div>