{% extends "main/main_base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/responsive-paginate.js', _external=True) }}"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".pagination").rPage();
}); 
</script>
{% endblock %}

{% block blog_header %}

{% endblock %}

{% block blog_main %}

{% for post in posts %}
{% include "main/blog_post.html" %}
{% endfor %}

<div class="text-center">
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
</div>

{% endblock %}