body {
    padding-top: 50px;
}
.login-form-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
}
.outer-wrapper {
    padding: 20px;
}
.main-wrapper {
    width: 100%;
    float: left;
}

/* in order to make all site max width*/
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-post {
    border-bottom: 1px solid #eee;
    margin: 0 0 50px;
}

.blog-post-title h3{
    font-size: 36px;
    color: #337ab7;
}

.blog-post-content {
    margin: 30px 0;
}

.blog-post-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.blog-post-footer {
    margin: 0 0 50px;
}

.blog-post-footer span {
    padding: 0 5px 0 0;
    color: #555;
    font-size: 14px;
}
