{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css', _external=True) }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon"/>
<link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon"/>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js', _external=True) }}"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang(config['MOMENT_LOCAL_LANG']) }}
{% endblock %}

{% block body %}
<div class="outer-wrapper">
{{ super() }}
</div>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endblock %}